<div class="spinner">
  <mat-progress-spinner diameter="40" mode="indeterminate" style="margin:0 auto; margin-top: 20%" *ngIf="!covid19ChartData && !barChartData.length">
  </mat-progress-spinner>
</div>

<div class="covid19-lineChart" *ngIf="barChartData.length">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cases Timeline</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display: block" class="lineChart">
        <canvas *ngIf="barChartData.length" baseChart [datasets]="barChartData" [labels]="barChartLabels"
          [options]="barChartOptions" [legend]="barChartLegend" [colors]="lineChartColors" [chartType]="barChartType">
        </canvas>
      </div>
      <mat-slider *ngIf="covidFullData" [displayWith]="sliderChangeEvent" (input)="onInputChange($event)"
        tickInterval="10" min="1" max="{{newBarChartData.labels.length - 2}}">
      </mat-slider>
    </mat-card-content>
  </mat-card>
</div>

<div class="covid19-Chart" *ngIf="covid19ChartData">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Total Cases in India</mat-card-title>
    </mat-card-header>
    <mat-card-content class="covid19-chartContainer">
      <div class="covid19-countryData doughnut-chart">
        <div style="display: block; ">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [legend]="legend"
            [colors]="chartColors" [chartType]="doughnutChartType"></canvas>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

